<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <form action="/todo/blog" method="post">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="category" placeholder="category">
        <input type="text" name="discription" placeholder="discription">
        <input type="submit">
    </form>
    <table border="1">
        <tr>
            <th>title</th>
            <th>category</th>
            <th>discription</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <% data.map((el,i)=>{%>
            <tr>
                <td><%=el.title%></td>
                <td><%=el.category%></td>
                <td><%=el.discription%></td>
                <td><a href="/todo/delete?id=<%= el.id%>">delete</a></td>
                <td><a href="/todo/edit?id=<%= el.id%>">Edit</a></td>
            </tr>
        <%})%>
    </table>
</body>
</html>