<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <h1>Welcome TO Node</h1>

    <form action="/insertdata" method="post">

        id
        <input type="text" name="id" placeholder="id">

        name
        <input type="text" name="name" placeholder="name">

        <input type="Submit" name="" id="">

    </form>

    <table border="1">
        <tr>
            <td>id</td>
            <td>name</td>
        </tr>

        <% student.map((el,i)=>{%>

            <tr>
                <td>
                    <%=el.id%>
                </td>
                <td>
                    <%=el.name%>
                </td>

                <td><a href="/delete?id=<%=el.id%>">Delete</a></td>
                <td><a href="/edit?id=<%=el.id%>">Ediit</a></td>

                <table border="1">
                    <tr>
                        <td>id</td>
                        <td>name</td>
                    </tr>

                    <% student.map((el,i)=>{ %>
                        <tr>
                            <td>
                                <%=el.id%>
                            </td>
                            <td>
                                <%=el.name%>
                            </td>
                        

                        <td><a href="/delete?id=<%=el.id%>"></a></td>
                        </tr>

                    <% } )%>
                </table>

            </tr>
            <% }) %>

    </table>
</body>

</html>